/*
.test{
    margin: auto;  Format: y, x; 
    margin-top: 36px;
    padding: 0px;
    max-width:1250px;
}
*/



/*          SECTION ----- Fonts          */


@font-face {
    font-family: 'Lato';
    src: url('../font/lato.woff2') format('woff2'),
        url('../font/lato.ttf') format('truetype'),
        url('../font/lato.woff') format('woff');

    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Archivo';
    src: url('../font/archivo.woff2') format('woff2'),
        url('../font/archivo.woff') format('woff');

    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Regular';
    src: url('../font/latoregular.woff2') format('woff2'),
        url('../font/latoregular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/HelveticaNeue.woff2') format('woff2'),
        url('../font/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*          SECTION ----- HTML Elements          */

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


body{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'cursive'; /* As a test */
}

/*          SECTION ----- Animations          */

@keyframes workOn {
    0%   {background-color: black}
    100% {background-color: white}
}

/*          SECTION ----- Custom: Home Page          */

.homeContainer{
    /* background-color: green; */
    margin: auto; /* Format: y, x; */
    margin-top: 36px;
    padding: 0px;
    max-width:1250px;
}

.homeContainer:after {
  content: "";
  display: table;
  clear: both;
}

.aboutMe{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    padding-left: 160px;
    padding-right: 160px;
    max-width:800px;
    float: left;

    font-family: 'Lato Regular';
    font-size: 47px; /* SKETCH */
    line-height: 1.22; /* SKETCH */
    font-weight: normal;
    font-style: normal;
}

.buttons{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    padding-left: 235px;
    padding-right: 235px;
    max-width:1600px;
    float:left;
}

.pillButton{
    padding: 32px 56px; /* Around the text */
    margin-top: 85px; /* Around the button */
    margin-left: -20px;
    margin-right: 40px;
    border-radius: 1600px;

    background-color: #ffffff;
    border-style: solid;
    border-color: black;
    border-width: 4px;

    color: black; /* THIS IS THE TEXT COLOR */
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 55px;

    display: inline-block;

    cursor: crosshair; 
}

.pillButton:hover{
    background-color: #76777F;
    border-width: 4px;
    border-color: #76777F;

    color: white; /* THIS IS THE TEXT COLOR */

    cursor: pointer;
}

.projectFooter{
    /* background-color: red; */
    color:black;
    position:fixed;
    padding-left: 180px;
    padding-right: 180px;
    bottom: 90px;
    max-width:800px;
    float: left;
    text-align:left;

    font-family: 'Lato';
    font-size: 35px; /* SKETCH */
    line-height: 49px; /* SKETCH */
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.projectFooter a{
    text-decoration: none;
    color:black;
}

.projectFooter a:hover{
    text-decoration: underline;
}


.subtitle{
    
    font-family: 'Lato Regular';
    font-size: .65em; /* SKETCH */
    line-height: 2; /* SKETCH */
    letter-spacing: 0.015em;


}

/*          SECTION ----- Custom: Home Page          */

.workContainer{
    /* background-color: green; */
    margin: auto; /* Format: y, x; */
    margin-top: 40px;
    padding: 0px;
    max-width:1250px;
 /*   position: absolute; */
}

.workContainer:after {
  content: "";
  display: table;
  clear: both;
}

/*          SECTION ----- Custom: Work          */

.homeButton{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 800px;
    float: left;

    font-size: 64px; /* SKETCH */
    line-height: 44px; /* SKETCH */

    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;

}

.homeButton:hover{
    cursor: pointer;
}

.homeButton:after {
  content: "";
  display: table;
  clear: both;
}

.menuProjects{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 900px;
    float: left;

    margin-top: 20px;
    margin-bottom: 40px;
}

.singleProject{
    /* background-color: blue; */
    margin-bottom: 34px;
}

.menuProjects a{
    text-decoration: none;
}

.singleProject:hover .menuProjectsTitle{
    text-decoration: underline;
}

.singleProject:hover .menuProjectsDescription{
    color:black;
}

.menuProjectsTitle{
    font-family: 'Lato Regular';
    font-size: 48px; /* SKETCH */
    line-height: 64px; /* SKETCH */
    font-weight: normal;
    font-style: normal;

    color: black;
}

.menuProjectsDescription{
    font-family: 'Helvetica Neue';
    font-size: 24px; /* SKETCH */
    line-height: 32px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #76777F;
}

/*          SECTION ----- Custom: Project Pages         */

.projectContainer{
    /* background-color: green; */
    margin: auto; /* Format: y, x; */
    margin-top: 40px;
    padding: 0px;
    max-width:1250px;

    background-color: white;
    color: black;
 /*   position: absolute; */


}

.projectContainer:after {
  content: "";
  display: table;
  clear: both;
}

.projectTitle{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 470px;
    float: center;

    font-family: 'Lato Regular';
    font-size: 70px; /* SKETCH */
    line-height: 40px; /* SKETCH */
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    margin-top: 20px;
}

video{
    width: 100%;
    height: 100%;
    margin-bottom: 78px;
    margin-top: 20px;

    background: #3C3C3C;
    -webkit-animation: videoLoad 4s infinite;
    -moz-animation: videoLoad 4s infinite;
    animation: videoLoad 4s infinite;
}

@keyframes videoLoad{
    0% { background: #3C3C3C; }
    50% { background: #1F1F1F; }
    99% { background: #3C3C3C; }
}





.projectContent{
    margin: auto;
    padding-left: 48px;
    padding-right: 48px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    font-size: 32px; /* SKETCH */
    line-height: 50px; /* SKETCH */
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    max-width: 1200px;
}

.projectContent a{
    color:white;
}

.projectContent a:active{
    text-decoration: underline;
}

.projectContent a:hover{
    text-decoration: underline;
}

.projectDetails{
    margin: auto;
    float:right;
    text-align: center;
    padding-top: 135px;
    padding=bottom: 135px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    font-size: 25px; /*  1.75vw SKETCH */
    line-height: 50px; /* SKETCH */
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    max-width: 600px;
}


.bottomPills{
    margin: auto;
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 128px;
    padding-bottom: 200px;
}

.bottomPills a{
    text-decoration: none;
}

.pillButtonBottom{
    padding: 32px 56px; /* Around the text */
    margin-top: 36px; /* Around the button */
    margin-left: 0px;
    margin-right: 26px;
    border-radius: 1600px;

    background-color: #000000;
    border-style: solid;
    border-color: white;
    border-width: 3px;

    color: white; /* THIS IS THE TEXT COLOR */
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 64px;

    display: inline-block;

    cursor: pointer; 
}

.pillButtonBottom:hover{
    background-color: #FFFFFF;
    border-color: black;
    border-width: 3px;

    color: black; /* THIS IS THE TEXT COLOR */

    cursor: pointer;
}








